<% if users.exists? %>
  <% users.each do |user| %>
    <table>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td>フォロー数：<%= user.relationships.count %></td>
          <td>フォロワー数：<%= user.reverse_of_relationships.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
    <p>ユーザーはいません</p>
<% end %>